<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for(@user) do |f| %>

            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :surname1, "First Surname" %>
            <%= f.text_field :surname1 %>

            <%= f.label :surname2, "Second Surname" %>
            <%= f.text_field :surname2 %>

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :company %>
            <%= f.text_field :company %>

            <%= f.label :password , "New Password"%>
            <%= f.password_field :password%>

            <%= f.label :password_confirmation, "Confirm your password" %>
            <%= f.password_field :password_confirmation %>

            <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        <% end %>

    </div>
</div>